.main-container-footer {
  position: absolute;
  bottom: 24px;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.main-content-footer {
  background-color: #333;
  padding: 1rem;
  width: 98%;
  border-radius: 14px;
}

p {
  text-align: center;
}