.header-style-container {
    display: flex;
    justify-content: center;
}

.headerStyle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-top: 0.75rem;
    width: 95%;
    background-color: #333;
    color: #fff;
    border-radius: 16px;
}

.logoStyle {
    margin-right: 24px;
    display: flex;
    align-items: center;
}

.logoStyle img {
    width: 32px !important;
    border-radius: 6px;
}

.navStyle {
    flex: 1;
}

.listStyle {
    list-style: none;
    margin: 0;
    padding: 0;
}

.listItemStyle {
    display: inline-block;
    margin-right: 1rem;
}