.ChatMessage {
    border-radius: 10px;
    background-color: #3f214d;
    display: inline-block;
    text-align: left;
    padding: 10px;
    width: auto;
    max-width: 45%;
    font-size: 0.85em;
    word-wrap: break-word;
}

.message-container {
    width: 100%;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.user {
    justify-content: flex-end;
    display: flex;
    width: 100%;
}

.assistant {
    justify-content: flex-start;
    display: flex;
    width: 100%;
}