.ChatMessage{
    border-radius: 10px;
    background-color: #3f214d;
    display:flex;
    text-align: justify;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    width: 45%;
    font-size: 0.7em;
}

.message-container{
    width: 100%;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.user{
    justify-content: flex-end;
}

.assistant{
    align-self: flex-start;
}