.chat-input-container {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;

}

.chat-input {
    font-size: 0.85em;
    border-radius: 10px;
    width: 45%;
    min-height: 100%;
    background-color: #3f214d;
    padding: 10px;
    color: white;
}