#root {
  width: 100%;
  height: 100vh;
}

.main-container {
  flex-direction: column;
  display: flex;
}

.main-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.full-section{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}