#root {
  width: 100%;

}

.main-container {
  height: 100vh;
  flex-direction: column;
  display: flex;
}

.main-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}